@using FlightManager.Shared.Extensions
@model FlightManagerMVC.ViewModels.FlightDetailsVM



@using FlightManager.Shared
@using FlightManagerMVC


@using System.Security.Claims
@using FlightManagerMVC.Enums
@{
    ViewBag.Title = "Details";
}

<p class="h3">Flight</p>
<h2>Details</h2>
<audio id="background-music" autoplay loop>
    <source src="~/audio/1.mp3" type="audio/mpeg">

    Your browser does not support the audio element.
</audio>



<script>
    function playAudio() {
        var audio = document.getElementById("background-music");
        audio.play();
    }
</script>
<div>

    <hr />

    <dl class="dl-horizontal">

        <dt>

            @Html.DisplayNameFor(model => model.DepartureLocation)

        </dt>

        <dd>

            @Html.DisplayFor(model => model.DepartureLocation)

        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.ArrivalLocation)

        </dt>

        <dd>

            @Html.DisplayFor(model => model.ArrivalLocation)

        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.DepartureTime)

        </dt>

        <dd>

            @Html.DisplayFor(model => model.DepartureTime)

        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.ArrivalTime)

        </dt>

        <dd>

            @Html.DisplayFor(model => model.ArrivalTime)

        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.AircraftType)

        </dt>

        <dd>

            @Html.DisplayFor(model => model.AircraftType)

        </dd>

        <dt>
            @if (

            Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
            {
                @Html.DisplayNameFor(model => model.AircraftId)
            }
            else
            {

                @:

            }
            

        </dt>

        <dd>
            @if (

            Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
            {
                @Html.DisplayFor(model => model.AircraftId)
            }
            else
            {

                @:

            }
            

        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.PilotName)

        </dt>

        <dd>

            @Html.DisplayFor(model => model.PilotName)

        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.PassengerCapacity)

        </dt>

        <dd>

            @Html.DisplayFor(model => model.PassengerCapacity)

        </dd>


        <dt>

            @Html.DisplayNameFor(model => model.BusinessClassCapacity)

        </dt>

        <dd>

            @Html.DisplayFor(model => model.BusinessClassCapacity)

        </dd>
    </dl>
    <div class="col-md-5">
        <dt>Bookings</dt>
        <table class="table table-hover">
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatClass)
                    </td>
                </tr>
            }
        </table>
    </div>

            <div class="my-3">
        @if (

        Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
        {
            @Html.ActionLink("Edit", "Edit", null, new { id = Model.Id },
                     htmlAttributes: new { @class = "btn btn-outline-warning btn-sm me-3" })

            @Html.ActionLink("Delete", "Delete", null, new { id = Model.Id },
                     htmlAttributes: new { @class = "btn btn-outline-danger btn-sm me-3" })
        }
        else
        {

            @:

        }
            </div>

            <div>
                @Html.ActionLink("Back to List", "List")
            </div>
    
</div>
