@model FlightManagerMVC.ViewModels.FlightEditVM
@{
    ViewBag.Title = "Edit Flight";
}

<h2>Edit Flight</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.DepartureLocation,
                         new { htmlAttributes = new { @class = "form-control", @placeholder = "From Location" } })
                <label for="DepartureLocation">From</label>
                @Html.ValidationMessageFor(model => model.DepartureLocation)
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.ArrivalLocation,
                         new { htmlAttributes = new { @class = "form-control", @placeholder = "To Location" } })
                <label for="ToLocation">To</label>
                @Html.ValidationMessageFor(model => model.ArrivalLocation)
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.DepartureTime,
                         new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                <label for="DepartureTime">Departure Time</label>
                @Html.ValidationMessageFor(model => model.DepartureTime)
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.ArrivalTime,
                         new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                <label for="ArrivalTime">Arrival Time</label>
                @Html.ValidationMessageFor(model => model.ArrivalTime)
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.AircraftType,
                         new { htmlAttributes = new { @class = "form-control" } })
                <label for="AircraftType">Airplane Type</label>
                @Html.ValidationMessageFor(model => model.AircraftType)
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.AircraftId,
                         new { htmlAttributes = new { @class = "form-control" } })
                <label for="AAircraftId">Airplane ID</label>
                @Html.ValidationMessageFor(model => model.AircraftId)
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.PilotName,
                         new { htmlAttributes = new { @class = "form-control" } })
                <label for="PilotName">Pilot Name</label>
                @Html.ValidationMessageFor(model => model.PilotName)
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.PassengerCapacity,
                         new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                <label for="PassengerCapacity">Passenger Capacity</label>
                @Html.ValidationMessageFor(model => model.PassengerCapacity)
            </div>
        </div>

        <div class="form-group">
            <div class="form-floating mb-3 col-md-4">
                @Html.EditorFor(model => model.BusinessClassCapacity,
                         new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                <label for="BusinessClassCapacity">Business Capacity</label>
                @Html.ValidationMessageFor(model => model.BusinessClassCapacity)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>