@using FlightManagerMVC.Controllers
@using FlightManager.Shared.Extensions
@model FlightManagerMVC.ViewModels.BookingEditVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)

        <!-- Personal ID -->
        <div class="form-group">
            @Html.LabelFor(model => model.PersonalId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonalId)
                @Html.ValidationMessageFor(model => model.PersonalId)
            </div>
        </div>

        <!-- First Name -->
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <!-- Seat Class Dropdown -->
        <div class="form-group">
            @Html.LabelFor(model => model.SeatClass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SeatClass, Model.SeatClasses, "- Select Seat Class -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SeatClass)
            </div>
        </div>

        <!-- Flight Dropdown -->
        <div class="form-group">
            @Html.LabelFor(model => model.FlightId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FlightId, Model.Flight, "- Select Flight -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FlightId)
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "List")
</div>
