@using FlightManager.Shared.Extensions
@model FlightManagerMVC.ViewModels.BookingDetailsVM

@{ ViewBag.Title = "Delete"; }

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonalId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight)
        </dt>
    </dl>

    <table class="table table-light table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight.DepartureLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.ArrivalLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.AircraftType)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Flight.DepartureLocation)
            </td>

            <td>
                @Html.DisplayFor(model => model.Flight.ArrivalLocation)
            </td>

            <td>
                @Html.DisplayFor(model => model.Flight.DepartureTime)
            </td>

            <td>
                @Html.DisplayFor(model => model.Flight.ArrivalTime)
            </td>

            <td>
                @Model.Flight.AircraftType.GetDisplayName()
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()

    <div class="form-actions no-color">

        <input type="submit" value="Delete" class="btn btn-outline-danger mb-3 mt-2" />

    </div>

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "List")
    </div>

}

</div>
