@using FlightManager.Shared.Extensions
@model FlightManagerMVC.ViewModels.BookingDetailsVM

@using FlightManager.Shared
@using FlightManagerMVC


@using System.Security.Claims
@using FlightManagerMVC.Enums

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>
<div>
    <h4>Booking</h4>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>

            @if (

            Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
            {
                @Html.DisplayNameFor(model => model.PersonalId)
            }
            else
            {

                @:

            }
            
        </dt>
        <dd>
            @if (

            Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
            {
                @Html.DisplayFor(model => model.PersonalId)
            }
            else
            {

                @:

            }
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatClass)
        </dd>
        <dt>
            @if (

            Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
            {
                @Html.DisplayNameFor(model => model.FlightId)
            }
            else
            {

                @:

            }
           
        </dt>
        <dd>
            @if (

            Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
            {
                @Html.DisplayFor(model => model.FlightId)
            }
            else
            {

                @:

            }
           
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight)
        </dt>
    </dl>

    <table class="table table-light table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight.DepartureLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.ArrivalLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.AircraftType)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Flight.DepartureLocation)
            </td>

            <td>
                @Html.DisplayFor(model => model.Flight.ArrivalLocation)
            </td>

            <td>
                @Html.DisplayFor(model => model.Flight.DepartureTime)
            </td>

            <td>
                @Html.DisplayFor(model => model.Flight.ArrivalTime)
            </td>

            <td>
                @Model.Flight.AircraftType.GetDisplayName()
            </td>
        </tr>
    </table>
</div>

<div class="my-3">
    @if (

    Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
    {
        @Html.ActionLink("Edit", "Edit", null, new { id = Model.Id },
                htmlAttributes: new { @class = "btn btn-outline-warning btn-sm me-3" })

        @Html.ActionLink("Delete", "Delete", null, new { id = Model.Id },
                htmlAttributes: new { @class = "btn btn-outline-danger btn-sm me-3" })
    }
    else
    {
       
        @:

    }


    
</div>

<div>
    @Html.ActionLink("Back to List", "List")
</div>
