@using FlightManagerMVC.Controllers
@using FlightManager.Shared.Extensions
@model FlightManagerMVC.ViewModels.BookingEditVM

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="card justify-content-center w-50 mx-auto align-items-center">
            <h3 class="card-header mb-3">Edit</h3>
            <div class="form-group w-100 mw-100">
                <div class="form-floating w-75 mw-75 mx-auto">
                    @Html.EditorFor(model => model.PersonalId,
                             new { htmlAttributes = new { @class = "form-control mb-3", @type = "text", @id = "floatingpersonalid", @placeholder = "987654321" } })
                    <label for="floatingpersonalid">Personal Id</label>
                    @Html.ValidationMessageFor(model => model.PersonalId)
                </div>
            </div>

            <div class="form-group w-100 mw-100">
                <div class="form-floating w-75 mw-75 mx-auto">
                    @Html.EditorFor(model => model.FirstName,
                             new { htmlAttributes = new { @class = "form-control mb-3", @type = "text", @id = "floatingfirstname", @placeholder = "John" } })
                    <label for="floatingfirstname">First Name</label>
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group w-100 mw-100">
                <div class="form-floating w-75 mw-75 mx-auto">
                    @Html.EditorFor(model => model.MiddleName,
                             new { htmlAttributes = new { @class = "form-control mb-3", @type = "text", @id = "floatingmiddlename", @placeholder = "D." } })
                    <label for="floatingmiddlename">Middle Name</label>
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>
            </div>

            <div class="form-group w-100 mw-100">
                <div class="form-floating w-75 mw-75 mx-auto">
                    @Html.EditorFor(model => model.LastName,
                             new { htmlAttributes = new { @class = "form-control mb-3", @type = "text", @id = "floatinglastname", @placeholder = "Doe" } })
                    <label for="floatinglastname">Last Name</label>
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group w-100 mw-100">
                <div class="w-50 mw-50 mx-auto">
                    @Html.LabelFor(model => model.SeatClass, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.SeatClass, Model.SeatClassesList, "Choose a seat class...", new { @class = "form-control mb-3" })
                    @Html.ValidationMessageFor(model => model.SeatClass)
                </div>
            </div>

            <div class="form-group w-100 mw-100">
                <div class="w-50 mw-50 mx-auto">
                    @Html.LabelFor(model => model.FlightId, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.FlightId, Model.FlightsList, "Choose a flight...", new { @class = "form-control mb-3" })
                    @Html.ValidationMessageFor(model => model.FlightId)
                </div>
            </div>

            <div class="form-group w-100 mw-100">
                <div class="form-floating w-75 mw-75 mx-auto">
                    @Html.EditorFor(model => model.Nationality,
                             new { htmlAttributes = new { @class = "form-control mb-3", @type = "text", @id = "floatingnationality", @placeholder = "Bulgarian" } })
                    <label for="floatingnationality">Nationality</label>
                    @Html.ValidationMessageFor(model => model.Nationality)
                </div>
            </div>

            <div class="form-group w-100 mw-100 mb-3">
                <div class="form-floating w-75 mw-75 mx-auto">
                    @Html.EditorFor(model => model.PhoneNumber,
                             new { htmlAttributes = new { @class = "form-control", @type = "tel", @id = "floatingphonenumber", @placeholder = "+359 999 999 999" } })
                    <label for="floatingphonenumber">Phone Number</label>
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>



            <div class="form-group">

                <div class="col-md-offset-2 col-md-10">

                    <input type="submit" value="Edit" class="btn btn-outline-primary mb-3 mt-2" />
                </div>
            </div>

            <div class="mb-3">
                @Html.ActionLink("Back to List", "List")
            </div>
        </div>
    </div>
}

